<mat-toolbar color="primary">
    My Weather App
</mat-toolbar>
<div class="content">
    <div class="flex-row">
        <mat-form-field>
            <mat-label>Select city</mat-label>
            <mat-select [formControl]="cityControl">
                <mat-option *ngFor="let city of cities" [value]="city">
                    {{city}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-card-actions>
            <input matInput id="new-town" [(ngModel)]="addbutton" />
            <button mat-button (click)="addNewTown()">Add</button>
            <button mat-button (click)="deleteTown()">Delete</button>
        </mat-card-actions>
    </div>
    <br />
    <router-outlet></router-outlet>
</div>